<mat-list-item>
  <button mat-icon-button (click)="onRemoveItem()">
    <mat-icon color="warn">remove_circle</mat-icon>
  </button>
  <h4> {{basketItem?.name}}</h4>
  <span class="fill-space"> </span>
  <mat-chip-list>
    <mat-chip color="accent" selected="true"> x {{basketItem?.quantity}}</mat-chip>
  </mat-chip-list>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
  <span class="fill-space"> </span>
  <h5>Subtotal: ${{basketItem?.subtotal}}</h5>
</mat-list-item>
<mat-divider></mat-divider>